<div class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">

            <f:format.raw>
                {content.container}
            </f:format.raw>
        </div>
    </div>
    <div class="parallax"><img src="images/{content.image}" alt="{content.imagealt}"></div>
</div>