<f:for each="{content}" as="element">
    <f:if condition="{element.type} == 'parallax'">
        <f:then>
                <f:render partial="Content/Parallax" arguments="{content: element}" />
        </f:then>
        <f:else>
            <f:render partial="Content/Text" arguments="{content: element}" />
        </f:else>
    </f:if>
</f:for>