<footer class="page-footer">
    <div class="container">
        <f:format.raw>
            {content}
        </f:format.raw>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="grey-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
</footer>