<nav class="white header" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">&nbsp;</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#project">Project</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#links">Links</a></li>
            <li><a href="#team">Team</a></li>
            <li><a href="#review">Review</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="#project">Project</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#links">Links</a></li>
            <li><a href="#team">Team</a></li>
            <li><a href="#review">Review</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
