<f:layout name="Default" />

<f:section name="Main">
    <f:render partial="Navi" />
    <f:render partial="Content" arguments="{content: content}" />
    <f:render partial="Footer" arguments="{content: footer}" />
</f:section>
