<f:layout name="Default" />
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>eGovernment-App basierend auf Blockchain-verifiziertem Proof of Existence</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/equal-height-columns.css" type="text/css" rel="stylesheet" media="all" />
    <link href="/mas.css" type="text/css" rel="stylesheet" media="all" />
</head>
<body>

<f:render section="Main" />

<!--  Scripts-->
<script src="/libs.js"></script>
<script src="/init.js"></script>

<script>
    $(document).ready(function(){
      $('.slider').slider();
    });
</script>
        
</body>
</html>
