//Overwrite sass-variables.
$roboto-font-path: "./roboto/";
$icons-font-path: "./material-design-icons/";
$navbar-height: 125px;
$navbar-height-mobile: 125px;
$primary-color: #005291;
$secondary-color: #f68816;

@import "../../bower_components/materialize/sass/materialize";

body > nav.header,
body > div.parallax-container {
    background-image: URL('design/bg_left_down.png');
    background-repeat: repeat-y;
}


.header .container {
    left: 0;
    margin-left: 0;
}
@media only screen and (min-width: 993px) {
    .header .container {
        width: 85%;
    }
}
@media only screen and (max-width: 992px) {
    .header .container {
        .brand-logo {
            left: 66px;
        }
    }
}
@media only screen and (min-width: 601px) {
    .header .container {
        width: 100%;



        .button-collapse {
            left: 50%;

            i {
                font-size: 5em;
            }
        }
    }
}

@media only screen and (min-width: 0) {
    .header .container {
        .button-collapse {
            left: 50%;

            i {
                font-size: 5em;
            }
        }
    }
}


nav ul a,
nav .brand-logo {
    color: $primary-color;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: $secondary-color;;
}

.parallax-container {
    min-height: 450px;
    line-height: 0;
    height: auto;
    color: $primary-color;;
}
.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}



#logo-container {
    height: 96px;
    width: 135px;
    background-image: URL('design/logo.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.rotate90 {

    /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}


// Some slider stuff
.slider.enforceImageHeight .slides li img {
	background-size: auto 100%;
	background-repeat: no-repeat;
}
.slider.enforceImageHeight .caption {
	display: none;
}
