<f:layout name="Default" />

<f:section name="Main">
    Single template from Singles.
    Value of "foobar": {foobar}.

    Rendering of partial:
    <f:render partial="FirstPartial" arguments="{baz: foobar}" />
</f:section>
